@media (min-width: 640px) {
    .MIDDLE {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
}