@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    .MIDDLE {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 1;
    }
    #l3ft {
        grid-column: 1;
    }
    #r1ght {
        grid-column: 2;
    }
}