/* Larger Screen CSS */

@media (min-width: 640px) {
  body {
    width: 80%;
    margin: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    text-align: inherit;
  }

  #hero-image img {
    height: 500px;
    object-fit: cover;
  }

  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer {
    position: inherit;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li {
    margin: 0;
  }
  #menu {
    display: none; /* hide hamburger button yes*/
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .gridLayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sideCard div{
    background-color: lightgrey;
    border: 2px solid black;
    padding: 1px;
    margin: 5px;
  }
  picture img:hover {
    opacity: 0.8;
    transform: scale(0.95);
  }
}
